{% load static %}
<div class="post">
                    <div class="user">
                       <div class="user-img"> {% ifequal answer.replied_post.publish_by.gender 'E' %}
              <img src="{% static 'media/erkek.png' %}" alt="profil resmi">
          {% endifequal %}
      {% ifequal answer.replied_post.publish_by.gender 'K' %}
              <img src="{% static 'media/kadın.jpg' %}" alt="profil resmi">
          {% endifequal %}</div>
                        <div class="user-info">
                            <a href="{{ answer.replied_post.publish_by.get_profile_url }}"><div class="user-name">{{ answer.replied_post.publish_by.user.username }}</div></a>
                            <span class="post-date">{{answer.replied_post.publish_date}}</span>
                        </div>
                        <div class="actions">
                            {% if request.user in post.likes.all %}
                               <span> <a  data-href="{{ answer.replied_post.get_like_api_url }}"  data-likes={{ answer.replied_post.likes.count }} class="like_button">  <span class="like-red like-ch" > <div class="like-count">{{ answer.replied_post.likes.count }}</div></span> </a></span>
                            {% else %}
                              <span><a  data-href="{{ answer.replied_post.get_like_api_url }}"  data-likes={{ answer.replied_post.likes.count }} class="like_button"> <span class="no-like like-ch" id="like"><div class="like-count">{{ answer.replied_post.likes.count }}</div></span></a></span>
                            {% endif %}

                        </div>
                    </div>
                    <div class="content">
                       {{answer.replied_post.content}}
                        <div class="question-post">
                             {% include "classic-post.html" with post=answer.main_post%}
                        </div>
                    </div>
                </div>