<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../../website/static/css/registercss.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="user">
    <header class="user__header">
        <img src="logo.png" alt="" id="logo"/>
        <h1 class="user__title">THE INSIDER SIGHT</h1>
    </header>
    
    <form class="form">
        
    
        <div class="formgroup">
            <input type="email" placeholder="E-mail" class="form__input" />
        </div>
        
        

        <div class="formgroup">
            <input type="password" placeholder="Şifre" class="form__input" />
        </div>    
        <button class="btn" type="button">Login</button>

    </form>
</div>
</body>


</html>