#main-window {
    position: relative;
    left: 0;
    right: 0;
    width: 95%;
    /* background:#fff; */
}

#make-confession {
    width: 180px;
    text-align: center;
    font-size: 25px;
    background-color: #cce3ff;
    color: black;
    border-top: 1px black solid;
    border-left: 2px black solid;
    border-bottom: 1px black solid;
    border-right: 2px black solid;
    border-radius: 20px;
    border-inline-color: red;
    border-inline: 1px;
}
#answer-question{
    width: 180px;
    font-size: 25px;
    text-align: center;
    margin-top: 5px;
    background-color: #ffc84d;
    color: black;
     border-top: 1px black solid;
    border-left: 2px black solid;
    border-bottom: 1px black solid;
    border-right: 2px black solid;
    border-radius: 20px;
    border-inline-color: red;
    border-inline: 1px;
}
#ask-question{
    width: 180px;
    font-size: 25px;
    text-align: center;
    margin-top: 5px;
    background-color: #37c7ff;
    color: black;
     border-top: 1px black solid;
    border-left: 2px black solid;
    border-bottom: 1px black solid;
    border-right: 2px black solid;
    border-radius: 20px;
    border-inline-color: red;
    border-inline: 1px;
}
.post {
    margin: 15px auto 10px;
    width: 100%;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.2s ease-in-out;
    overflow: hidden;
}

.question-post {
    margin: 15px auto 10px;
    width: 70%;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.2s ease-in-out;
    overflow: hidden;
}

.post:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.post .user {
    padding: 10px;
    position: relative;
    background: #f9f9f9;
    overflow: hidden;
}

.post .user .user-img {
    margin-top: 10px;
    margin-right: 10px;
    width: 50px;
    height: 50px;
    float: left;
    border-radius: 6px;
    background: #444;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    overflow: hidden;
}

.post .user .user-img img{
    position: relative;
    width: 100%;
    height: 100%;
}

.post .user .user-info {
    padding-top: 10px;
    margin-right: 10px;
    width: calc(100% - 190px);
    height: 45px;
    line-height: 18px;
    float: left;
    color: #98d;
}

.post .user .user-info .post-date {
    font-size: 13px;
    color: #444;
}

.post .user .actions {
    float: right;
    margin-right: 10px
}

.post .user .actions span {
    margin-right: 10px;
    width: 35px;
    height: 60px;
    float: left;
    display: block;
    cursor: pointer;
    overflow: hidden;
    background-size: 80%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0.75;
    transition: 0.25s opacity ease-in-out;
}

.post .user .actions span:hover {
    opacity: 1;
}

#comment-count{
    text-decoration: none;
    color: black !important;
}


.post .user .actions span:last-child {
    margin-right: 0;
}

.post .user .actions span.heart {
    background-image: url('/static/media/no_like.png');
}

    .like-red{
        background-image: url('/static/media/like.png');
        /*opacity: 1 !important;*/
    }
    .no-like{
        background-image: url('/static/media/no_like.png');
    }


.post .user .actions span.comment {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABIElEQVRYR+2X0bEBQRBFjwgQARkgAkKQASJQIkAGRIAMhEAGRPCeDGRAXTVTtTW1ip4dy8f2z+58TN9z7/ZHb40vVw1oAHNg7N7LQLoCW2AmgBUwLUM1R2MtANHUgSMwdOdP8ijxPdAH/gVwc2rNEsS9sTbwp0MWQO9l1sN4BfDTCZyATqKhUK9e0OvlDKQEOANdK0Ai80/bvEygAvi5BCxDmTf1oSHzDFgA8qa+MEDqT2JOoAKoEvh4Al9byfxSegAmWhRTWw36aR/cAAPgooVk4f4LLLoC1V6fLf1XqLGlln4RFYQatAy3sxBW8YszsIjZhOV85EAFofLOd87I2z5iANQ8C+HFzOK6GAsQQkSJFwXwEHpqBqKqSAJRguGlOwYCUNzXkk7/AAAAAElFTkSuQmCC');
}

.post .user .actions span.share {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAB6ElEQVRYR82XgTEEQRBF/0WACBABGSADIkAEiIAMEAEi4CJABkTgZEAG6l1Nq941s9d7s1unq1Sp2pnu37+7//RNNJ6dSDqTtJtCPEm6lfTiQ05GiL8u6VHSfsH3vaRT+zYGgJuUeVduR5JgREMD2JL0EWB1Jml7DADU/S4AgCMAmA3NwJWkyyCAAxpySADQT/NZ1y/CsSHpawgAdD3jRvZRe7UpqQVwKOlaEtlH7TsFf6tpQgLSbKVZn6Zvay1UBAf0rxiVGIDWnXT5nVql/xfRzdnzFICzTIWxQ8bMvvmau2wD4BKUctEbF/mjzjm6yYxviFAv8wAI/tyjiy3QQ8q6kVkUhQcQkVDv19MdjffnnAdABu2myTlemu6cMwNAN0N/xC6WqXXJ8b8BAMBoCThHx7NcVFtNEzLXlKOx4fRF1B5DnJkARX2x4QCkegwJiBYwjset6EirCdFmBtnSZemSYntWodpLMVJbevN9WUiGRLwUk0inFEdpxynU7xUuwBajDQhvBGcfXPgYRYHwslGyXFlKPgDBNlT1HHvnZNlVlhwQGADEoFsxZYH66BQNtpL5DFe6lAJk5Wt59IfJp41n7VKaa7DIXjHaTzNTU5qxpBE8YkzN3MZgwHzTDwSyqUAFYafxeP0AlftgIScjdPAAAAAASUVORK5CYII=');
}

.post .content {
    padding: 20px;
    font-size: 16px;
    line-height: 22px;
    font-family: 'Helvetica Neue';
    overflow: hidden;
}



.post .media {
    margin: 0 20px 20px;
}

.post .media img {
    border-radius: 4px;
    width: 100%;
}

.post .media iframe {
    border-radius: 4px;
}

.like-count{
    position: relative;
    padding-top: 40px;
}

.comment{
    position: relative;
    padding-top: 40px;
}

#more-div{
    position: relative;
    float: right;
}

.container-background {
    background-color: #660000 !important;
}


.wider{
    min-height: 100vh;
}
.mainmenu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mainmenu a {
    display: block;
    font-size: 22px;
    text-decoration: none;
    padding: 10px;
    color: #D3D3D3;
}

.top-side a {
    font-size: 25px;
    text-decoration: none;
    padding: 10px;
    color: #D3D3D3;
}

.top-side a:hover {
    transition: color 0.5s ease;
    color: black;
    opacity: 0.6
}

.mainmenu a:hover {
    transition: color 0.5s ease;
    color: black;
    opacity: 0.6
}

.left-side {
    position: relative;
    margin: 10vw;
    margin-top: 10px;
    left: 32px;
    width: 100%;
    transform: translateX(-5%);
}

.fixed {
    position: fixed;
}

.mainmenu span:hover {
    transition: display 2s ease;
    display: none;
}

.top-side {
    /*position: fixed;*/
    top: 40px;
    display: inline-block;
    border: 2px solid coral;
    border-radius: 25px;
    padding: 1vh;
    z-index: 1
}

.content-side {
    position: relative;
    top: 10px;
    width: 100%;
}

.categories {
    position: -webkit-sticky;
    position: sticky;
    border-radius: 4px;
    top: 0;
    z-index: 1;
}

.categories ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.categories li {
    float: left;
}

.categories li a {
    display: block;
    color: white;
    margin-left: 19px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.categories li a:hover {
    background-color: #111;
}
#submit-post-button2{
    float: right;
    margin-right: 7px;
}
#submit-post-button{
    float: left;
    margin-right: 7px;
}
#category-select{
    position: relative;
    float: left;
    margin-right: 20px;
}
#handle-right{
    float: right;
}
.yorum{
    margin-bottom: 70px;
}

#question-button{

    margin-bottom: 10px;
    float: right;
    position: relative;
    right: 0;
}

#post-content2{
    position: relative;
    resize: none;
    width: 96%;
    margin: 3%;
    margin-bottom: 0;
}
#reply-post-div{
    margin-bottom: 90px;
}

.margin-bottom{
    margin-bottom: 100px;
}

.active-cyan-4 input[type=text]:focus:not([readonly]) {
border: 1px solid #4dd0e1;
box-shadow: 0 0 0 1px #4dd0e1;
}
.active-cyan-3 input[type=text] {
border: 1px solid #4dd0e1;
box-shadow: 0 0 0 1px #4dd0e1;
}

#user-search-bar{
    margin-top: 30px;
}

#search-input-cyan{
    position: relative;
    float: left;
    width: 90%;
}

#search-button-cyan{
    position: relative;
    width: 5%;
    margin-left: 1%;
    padding-left: 1%;
    padding-right: 1%;
    float: left;
}

#search-no-found{
    position: relative;
    clear: both;
    margin-top: 30px;
}
@media (max-width: 1000px) {
    .hidden {
        display: none !important;
    }
    .wider {
        display: block;
        padding-top: 50px;
    }
    .categories{
        margin-top: -40px;
    }
    .question-post{
        width: 90%;
    }
    .question-post .post-date{
        display: none;
    }
    .mobile-up{
        margin-top: -30px;
        margin-left: 6px;
    }
}

@media (min-width: 1000px) {
    #top-navbar {
        display: none !important;
    }
    #question-button{
        display: none !important;
    }
}
#confession-navbar a{
    color: wheat;
    /*padding-left: 35px;*/
}
#top-navbar i{
    color: cornflowerblue;
}
#top-navbar a:hover{
    opacity: 0.5;
}


