{% extends 'base.html' %}
{% block head %}
<title>Anasayfa - The Insider Sight</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock %}
{% block content %}
        <div class="content-side">
          <div class="categories">
            <ul>
            <li><a class="active" href="#home">Aşk</a></li>
            <li><a href="#news">Dost Kazığı</a></li>
            <li><a href="#contact">Avcılar</a></li>
            <li><a href="#about">Civcivler</a></li>
            <li><a href="#about">Profesyonellik içeren</a></li>
            <li><a href="#about">Diğer</a></li>
            </ul>
          </div>
            <div id="main-window">
                <div class="post">
                    <div class="user">
                        <div class="user-img"></div>
                        <div class="user-info">
                            <div class="user-name">Louis Dickinson</div>
                            <span class="post-date">Yesterday at 11:49</span>
                        </div>
                        <div class="actions">
                            <i class="fas fa-trash-alt fa-2x"></i>
                        </div>
                    </div>
                    <div class="content">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati beatae ipsum aperiam recusandae tempora eos architecto odio, voluptatibus, et fuga veritatis, ratione, magnam laudantium quas accusamus! Ea, maiores! Tenetur, nesciunt.
                    </div>
                </div>
                <div class="post">
                    <div class="user">
                        <div class="user-img"></div>
                        <div class="user-info">
                            <div class="user-name">Louis Dickinson</div>
                            <span class="post-date">Yesterday at 11:49</span>
                        </div>
                        <div class="actions">
                            <i class="fas fa-trash-alt fa-2x"></i>
                        </div>
                    </div>
                    <div class="content">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati beatae ipsum aperiam recusandae tempora eos architecto odio, voluptatibus, et fuga veritatis, ratione, magnam laudantium quas accusamus! Ea, maiores! Tenetur, nesciunt.
                    </div>
                </div>
                <div class="post">
                    <div class="user">
                        <div class="user-img"></div>
                        <div class="user-info">
                            <div class="user-name">Louis Dickinson</div>
                            <span class="post-date">Yesterday at 11:49</span>
                        </div>
                       <div class="actions">
                            <i class="fas fa-trash-alt fa-2x"></i>
                        </div>
                    </div>
                    <div class="content">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati beatae ipsum aperiam recusandae tempora eos architecto odio, voluptatibus, et fuga veritatis, ratione, magnam laudantium quas accusamus! Ea, maiores! Tenetur, nesciunt.
                    </div>
                </div>
                <div class="post">
                    <div class="user">
                        <div class="user-img"></div>
                        <div class="user-info">
                            <div class="user-name">Louis Dickinson</div>
                            <span class="post-date">Yesterday at 11:49</span>
                        </div>
                        <div class="actions">
                            <i class="fas fa-trash-alt fa-2x"></i>
                        </div>
                    </div>
                    <div class="content">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati beatae ipsum aperiam recusandae tempora eos architecto odio, voluptatibus, et fuga veritatis, ratione, magnam laudantium quas accusamus! Ea, maiores! Tenetur, nesciunt.
                    </div>
                </div>
                <div class="post">
                    <div class="user">
                        <div class="user-img"></div>
                        <div class="user-info">
                            <div class="user-name">Louis Dickinson</div>
                            <span class="post-date">Yesterday at 11:49</span>
                        </div>
                        <div class="actions">
                            <i class="fas fa-trash-alt fa-2x"></i>
                        </div>
                    </div>
                    <div class="content">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati beatae ipsum aperiam recusandae tempora eos architecto odio, voluptatibus, et fuga veritatis, ratione, magnam laudantium quas accusamus! Ea, maiores! Tenetur, nesciunt.
                    </div>
                </div>
                <div class="post">
                    <div class="user">
                        <div class="user-img"></div>
                        <div class="user-info">
                            <div class="user-name">Louis Dickinson</div>
                            <span class="post-date">Yesterday at 11:49</span>
                        </div>
                       <div class="actions">
                            <i class="fas fa-trash-alt fa-2x"></i>
                        </div>
                    </div>
                    <div class="content">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati beatae ipsum aperiam recusandae tempora eos architecto odio, voluptatibus, et fuga veritatis, ratione, magnam laudantium quas accusamus! Ea, maiores! Tenetur, nesciunt.
                    </div>
                </div>
                <div class="post">
                    <div class="user">
                        <div class="user-img"></div>
                        <div class="user-info">
                            <div class="user-name">Louis Dickinson</div>
                            <span class="post-date">Yesterday at 11:49</span>
                        </div>
                        <div class="actions">
                            <i class="fas fa-trash-alt fa-2x"></i>
                        </div>
                    </div>
                    <div class="content">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati beatae ipsum aperiam recusandae tempora eos architecto odio, voluptatibus, et fuga veritatis, ratione, magnam laudantium quas accusamus! Ea, maiores! Tenetur, nesciunt.
                    </div>
                </div>
                
            </div>
            <div class="nav-page">
                <a href="#" class="previous">&laquo; Geri</a>
				<a href="#" class="next">İleri &raquo;</a>
				</div>
        </div>

{% endblock %}
{% block admin %}
   <nav class="admin-navbar">
                <ul class="mainmenu">

                    <li> <a href="itiraflar-admin.html">
                            <i class="fas fa-bomb"></i>
                            <span>İtiraflar</a> </li>
                    <li><a href="sorular-admin.html">
                            <i class="fas fa-question-circle"></i>
                            <span>Sorular</span>
                        </a> </li>
                    <li><a href="kullanicilar-admin.html">
                            <i class="fas fa-users"></i>
                            <span>Kullanıcılar</span>
                        </a></li>

                        <li><a href="kullanicilar-admin.html">
                            <i class="fas fa-eye-slash"></i>
                            <span>Çıkış Yap</span>
                        </a></li>
                </ul>
            </nav>
{% endblock %}