<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {% block head %}
    <title>The Insider Sight</title>
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/12f32d9bf5.js" crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" type="text/css" href='{% static 'css/main.css' %}'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/js/bootstrap.min.js" integrity="sha384-3qaqj0lc6sV/qpzrc1N5DC6i1VRn/HyX4qdPaiEFbn54VjQBEU341pvjz7Dv3n6P" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'js/respond.js' %}"></script>
    <script src="{% static 'js/html5shiv.js' %}"></script>

</head>

<body>





    <div class="container-fluid container-background ">

        <div class="row row-wider ">
            <nav class="navbar navbar-expand-lg navbar-dark fixed-bottom bg-dark" id="top-navbar">
                <div class="container">

                    <a href="{%  url 'home' %}">
                        <i class="fas fa-home fa-2x"></i>
                        </a>

                        <a href="{%  url 'confessions' %}">
                            <i class="fas fa-bomb fa-2x"></i>
                            </a>
                            <a href="{%  url 'answers' %}">
                                <i class="fas fa-question-circle fa-2x"></i>

                            </a>


                     <a href={%  url 'make_confession' %}>
                                <i class="fab fa-angellist fa-3x"></i>

                            </a>

                    </a>
                            <a href={%  url 'leader_board' %}>
                                <i class="fab fa-avianex fa-2x"></i>

                            </a>





                            <a href="{%  url 'discover' %}">
                                <i class="fas fa-hashtag fa-2x"></i>

                            </a>

                    <a href="{%  url 'my_profile' %}">
                                <i class="far fa-user fa-2x"></i>

                            </a>



                </div>
            </nav>



            <div class="col-sm hidden">
                <div class="left-side fixed">
                    <div id="logo">
                        <img src="{% static 'media/logo.png' %}" alt="logo" width="170vh" ; height="170vh">
                    </div>
                    <nav class="side-navbar">
                        <ul class="mainmenu">
                            <li>
                                <a href="{%  url 'home' %}">
                                    <i class="fas fa-home"></i>
                                    <span>Anasayfa</span></a>
                            </li>
                            <li>
                                <a href="{%  url 'confessions' %}">
                                    <i class="fas fa-bomb"></i>
                                    <span>İtiraflar</a> </li>
                    <li><a href="{%  url 'answers' %}">
                            <i class="fas fa-question-circle"></i>
                            <span>Sorular</span>
                                </a>
                            </li>
                            <li>
                                <a href="{%  url 'leader_board' %}">
                                    <i class="fab fa-avianex"></i>
                                    <span>Sıralama</span>
                                </a>
                            </li>
                            <li>
                                 <a href="{%  url 'discover' %}">
                                    <i class="fas fa-hashtag"></i>
                                    <span>Keşfet</span>
                                </a>
                            </li>

                         {% if request.user.is_superuser %}
                                <li>
                                 <a href="{%  url 'adminkullanicilar' %}"  id="admin-kullanicilar">
                                    <i class="fas fa-users"></i>
                                    <span>Kullanıcılar</span>
                                </a>
                            </li>
                            {% endif %}
                             <li>
                                 <a href="{%  url 'make_confession' %}"  id="make-confession">
                                    <i class="fab fa-angellist"></i>
                                    <span>İtiraf Et</span>
                                </a>
                            </li>



                            {% block question %}
                            {% endblock %}
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-lg-6 wider">
            {% block content %}
               {% endblock %}
            </div>
            <div class="col-sm hidden">
                <div class="top-side fixed">
                    <nav>
       <a href="{%  url 'my_profile' %}"><button type="button" class="btn ">
                 <i class="far fa-user fa-2x" style="color: white"></i>
</button></a>
                        {% include 'notification.html' with notification_list=notification_list %}
                        <a href="{%  url 'logout' %}"><button type="button" class="btn "><i class="fas fa-eye-slash fa-2x"  style="color: white"></i> </button></a>
                    </nav>

                </div>

            <!-- this format is not compulsory, you can have HTML that suits your project -->

                {% block admin %}
                {% endblock %}
            </div>

</div>
        </div>
    <script>
        $(document).ready(function () {

          {% block jquery %}

              function updateText(btn,newCount){
                btn.text(newCount)
              }
    $(".like_button").click(function (e) {
       e.preventDefault()
        var this_ = $(this)
        var likeUrl = this_.attr("data-href")
        var likeCount = parseInt(this_.attr("data-likes"))
        var addLike = likeCount + 1
        var dislike = addLike - 1
        $.ajax({
            url: likeUrl,
            method: "GET",
            data:{},
            success: function(data) {
                console.log(data)
                if(data.liked){
                this_.find('span').removeClass("no-like")
                    this_.find('span').addClass("like-red")
                    updateText(this_.find('.like-count'),addLike)
                }else{
                    this_.find('span').addClass("no-like")
                    this_.find('span').removeClass("like-red")
                    updateText(this_.find('.like-count'),dislike)
                }

            },error: function(error) {
                console.log(error)
                console.log("error")
            }
        })
    })
              {% endblock %}

        })
    </script>



</body>

</html>