<!DOCTYPE html>
<html>
<head>
    {% load static %}
<title>Giriş - The Insider Sight</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/registercss.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/js/bootstrap.min.js" integrity="sha384-3qaqj0lc6sV/qpzrc1N5DC6i1VRn/HyX4qdPaiEFbn54VjQBEU341pvjz7Dv3n6P" crossorigin="anonymous"></script>

</head>
<body>
<div class="container-fluid container-background ">
    <div class="user">
    <header class="user__header">
        <img src="{% static 'media/logo.png' %}" alt="" id="logo"/>
        <h1 class="user__title">THE INSIDER SIGHT</h1>
    </header>




     <form method="POST" class="form">
{% csrf_token %}
{% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
        <div class="formgroup">
            <input type="text" placeholder="Kullanıcı Adı" class="form__input" name="username"/>
        </div>



        <div class="formgroup">
            <input type="password" placeholder="Şifre" class="form__input" name="password"/>
        </div>
        <div class="formgroup"> <button type="submit" class="btn">Giriş Yap</button> </div>

    </form>
    <a style="color:black" href="{% url 'register' %}">Kayıtlı değil misin?</a>
</div>
</div>
</body>


</html>