{% extends 'base.html' %}
{% block head %}
    <title>Cevapla - The Insider Sight</title>
{% endblock %}
{% block content %}

{% load static %}

    <div id="main-window">

{% include "classic-post.html" with post=main_post%}

        {% for post in reply_list %}
          {% include "classic-post.html" with post=post.replied_post %}
        {% endfor %}



        <div id="reply-post-div">
            <div class="content">

                <div class="post">
                    <div class="user">
                        <div class="user-img">
                            {% ifequal user_profile.gender 'E' %}
              <img src="{% static 'media/erkek.png' %}" alt="profil resmi">
          {% endifequal %}
      {% ifequal user_profile.gender 'K' %}
              <img src="{% static 'media/kadın.jpg' %}" alt="profil resmi">
          {% endifequal %}
                        </div>
                        <div class="user-info">
                            <div class="user-name">{{ request.user }}</div>

                        </div>
                        <div class="place">

                        </div>
                    </div>

                    <div class="yorum">
                        <form method="POST" class="form">
                        {% csrf_token %}

                          <p>
    <textarea name="post-content" id="post-content2" required rows="4" cols="150"></textarea></p>

                            <div id="submit-post-button2"><input type="submit" name="submit" value="Paylaş" id="bid"></div>
                        </form>


                    </div>
                </div>


            </div>
</div>
        </div>

{% endblock %}