{% extends 'base.html' %}
{% block head %}
    <title>Sıralama - The Insider Sight</title>
    {% load static %}
{#    <script src="{% static 'js/sıralama.js' %}"></script>#}
    <script>
    function increment(count) {
        count++;
        return count;
    }
    </script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/sıralama.css' %}">


{% endblock %}
{% block content %}

     <div id="table">

                <ul class="leader">
                 <p class="tex">Genel Sıralama</p>
        {% for user in point_list  %}
                    <li>
                        <span class="list_num">{{ forloop.counter}}</span>
                        {% ifequal user.gender "E"  %}
              <img src="{% static 'media/erkek.png' %}" alt="profil resmi">
          {% endifequal %}
      {% ifequal user.gender  "K" %}
              <img src="{% static 'media/kadın.jpg' %}" alt="profil resmi">
          {% endifequal %}
                      <a style="color:lightslategrey" href="{{ user.get_profile_url }}">  <h2>{{user.user.username}}<span class="number">{{ user.point }}</span></h2>
                          </a>
                    </li>
                {% endfor %}
                <div class="your_index">
                    <p class="tex">Senin Sıralaman</p>
                 <li>
                        <span class="list_num">{{ index}}</span>
                         {% ifequal user_info.gender "E"  %}
              <img src="{% static 'media/erkek.png' %}" alt="profil resmi">
          {% endifequal %}
      {% ifequal user_info.gender  "K" %}
              <img src="{% static 'media/kadın.jpg' %}" alt="profil resmi">
          {% endifequal %}
                      <a style="color:lightslategrey" href="{{ user_info.get_profile_url }}">   <h2>{{user_info.user.username}}<span class="number">{{ user_info.point }}</span></h2>
                         </a>
                    </li>
                </div>


                </ul>

</div>


{% endblock %}