{% extends 'base.html' %}
{% block head %}
<title>Anasayfa - The Insider Sight</title>
{% endblock %}
{% block content %}
            <div id="main-window">
                {% for post in post_list %}
                <div class="post">
                    <div class="user">
                        <div class="user-img"></div>
                        <div class="user-info">
                            <div class="user-name">{{ post.publish_by.username }}</div>
                            <span class="post-date">{{post.publish_date}}</span>
                        </div>
                        <div class="actions">
                            <span class="heart"></span>
                            <span class="comment"></span>
                            <span class="share"></span>
                        </div>
                    </div>
                    <div class="content">
                       {{ post.content }}
                    </div>
                </div>


                {% endfor %}
        </div>

{% endblock %}