{% extends 'base.html' %}
{% block head %}
<title>Cevaplar - The Insider Sight</title>
{% endblock %}
{% block question %}
                             <li>
                                 <a href="{%  url 'questions' %}"  id="answer-question">
                                    <i class="fas fa-reply"></i>
                                    <span>Cevapla</span>
                                </a>
                            </li>

                            <li>
                                 <a href="{%  url 'send_question' %}"  id="ask-question">
                                    <i class="fas fa-question"></i>
                                    <span>Sor</span>
                                </a>
                            </li>
{% endblock %}
{% block content %}

    <div id="main-window">

    {% for answer in answer_list %}
 {% include "classic-question.html" with answer=answer%}
    {% endfor %}
</div>

{% endblock %}