{% extends 'base.html' %}
{% block head %}
<title>İtiraflar - The Insider Sight</title>
{% endblock %}
{% block content %}

            <div id="content-side">
            <div class="categories">
                   <ul>
            <li><a class="active" href="{% url 'ask_itiraf' %}">Aşk</a></li>
            <li><a href="{% url 'dost_itiraf' %}">Dost Kazığı</a></li>
            <li><a href="{% url 'avci_itiraf' %}">Avcılar</a></li>
            <li><a href="{% url 'civciv_itiraf' %}">Civcivler</a></li>
            <li><a href="{% url 'prof_itiraf' %}">Profesyonellik içeren</a></li>
            <li><a href="{% url 'diger_itiraf' %}">Diğer</a></li>
            </ul>
          </div>

                {% for confession in confession_list %}
               {% include "classic-post.html" with post=confession%}


                {% endfor %}

            {% if confession_list.has_next %}
               <div id="more-div">
   <button id="more-button" class="btn btn-warning"><a class="infinite-more-link " href="?page={{ confession_list.next_page_number }}" style="color: #660000">Daha fazla..</a></button></div>
  {% endif %}
        </div>


{% endblock %}