{% extends 'base.html' %}
{% block head %}
<title>İtiraflar - The Insider Sight</title>
{% endblock %}
{% block content %}
            <div id="main-window">
                {% for confession in confession_list reversed %}
               {% include "classic-post.html" with post=confession%}


                {% endfor %}

            {% if confession_list.has_next %}
    <a class="infinite-more-link" href="?page={{ confession_list.next_page_number }}">Daha fazla..</a>
  {% endif %}
        </div>

{% endblock %}