{% extends 'base.html' %}
{% block head %}
    <title>Profil - The Insider Sight</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile2.css' %}">


{% endblock %}
{% block content %}

           <div class="içindekiler">
            <div class="pbar">
                <img src="https://us.123rf.com/450wm/2nix/2nix1408/2nix140800099/30818272-anoniem-avatar-profiel-icoon-vector-.jpg?ver=6" alt="Profil Fotoğrafı" id="fotoğraf" >
                
               <div  class="bilgiler" >
            <p>Louis , 25 <br> Bilgisayar Mühendisliği</p>
            </div>
            <div class="thebar">
             <a style="color: white;" href="takip.html"><i style="color: white;">Takip Ettikleri:400</i></a>
             <br>
             <br>
             <a style="color: white;"href="takip.html"><i style="color: white;">Takipçileri:200</i></a>	
			{% if user_profile in own_user.following.all %}
                    <a  id="follow-btn" data-href="{{ user_profile.get_follow_api_url }}"  data-likes={{ user_profile.followers.count }}><button type="button" class="btn btn-info" >Takibi Bırak</button></a>

                    {% else %}
                   <a id="follow-btn" data-href="{{ user_profile.get_follow_api_url }}"  data-likes={{ user_profile.followers.count }}><button type="button" class="btn btn-info" >Takip Et</button></a>
                {% endif %}

            </div>
            </div>
<div class="post">
                    <div class="user">
                        <div class="user-img"></div>
                        <div class="user-info">
                            <div class="user-name">Louis Dickinson</div>
                            <span class="post-date">Yesterday at 11:49</span>

                        </div>
                       
                    </div>
                    <div class="content">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati beatae ipsum aperiam recusandae tempora eos architecto odio, voluptatibus, et fuga veritatis, ratione, magnam laudantium quas accusamus! Ea, maiores! Tenetur, nesciunt. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati beatae ipsum aperiam recusandae tempora eos architecto odio, voluptatibus, et fuga veritatis, ratione, magnam laudantium quas accusamus! Ea, maiores! Tenetur, nesciunt.
                        <br>
                        
                    <div class="user" style="background-color: beige ">
                        <div class="user-img"></div>
                        <div class="user-info">
                            <div class="user-name">Abraham</div>
                            <span class="post-date">Yesterday at 11:49</span>
                        </div>
                        <div class="place">
                        <div class="actions">
                            <span class="heart"></span>
                            <span class="comment"></span>
                            
                        </div>
                        </div>
                    </div>

                    <div class="yorum" style="background-color: beige ">
                        Lorem ipsum dolor sit amet,e, magnam laudantium quas accusamus! Ea, maiores! Tenetur, nesciunt.
                        
                        
                    </div>
                    <br>

                     <div class="user" style="background-color: beige ">
                        <div class="user-img"></div>
                        <div class="user-info">
                            <div class="user-name">Abraham</div>
                            <span class="post-date">Yesterday at 11:49</span>
                        </div>
                        <div class="place">
                        <div class="actions">
                            <span class="heart"></span>
                            <span class="comment"></span>
                            
                        </div>
                        </div>
                    </div>

                    <div class="yorum" style="background-color: beige ">
                        Lorem ipsum dolor sit amet,e, magnam laudantium quas accusamus! Ea, maiores! Tenetur, nesciunt.
                        
                        
                    </div>
                   
                    
                </div>

        </div>
        <div class="post">
                    <div class="user">
                        <div class="user-img"></div>
                        <div class="user-info">
                            <div class="user-name">Louis Dickinson</div>
                            <span class="post-date">Yesterday at 11:49</span>
                        </div>
                       
                    </div>
                    <div class="content">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati beatae ipsum aperiam recusandae tempora eos architecto odio, voluptatibus, et fuga veritatis, ratione, magnam laudantium quas accusamus! Ea, maiores! Tenetur, nesciunt. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati beatae ipsum aperiam recusandae tempora eos architecto odio, voluptatibus, et fuga veritatis, ratione, magnam laudantium quas accusamus! Ea, maiores! Tenetur, nesciunt.
                        <br>
                        
                    <div class="user" style="background-color: beige ">
                        <div class="user-img"></div>
                        <div class="user-info">
                            <div class="user-name">Abraham</div>
                            <span class="post-date">Yesterday at 11:49</span>
                        </div>
                        <div class="place">
                        <div class="actions">
                            <span class="heart"></span>
                            <span class="comment"></span>
                            
                        </div>
                        </div>
                    </div>

                    <div class="yorum" style="background-color: beige ">
                        Lorem ipsum dolor sit amet,e, magnam laudantium quas accusamus! Ea, maiores! Tenetur, nesciunt.
                        
                        
                    </div>
                    <br>

                     <div class="user" style="background-color: beige ">
                        <div class="user-img"></div>
                        <div class="user-info">
                            <div class="user-name">Abraham</div>
                            <span class="post-date">Yesterday at 11:49</span>
                        </div>
                        <div class="place">
                        <div class="actions">
                            <span class="heart"></span>
                            <span class="comment"></span>
                            
                        </div>
                        </div>
                    </div>

                    <div class="yorum" style="background-color: beige ">
                        Lorem ipsum dolor sit amet,e, magnam laudantium quas accusamus! Ea, maiores! Tenetur, nesciunt.
                        
                        
                    </div>
                   
                    
                </div>

        </div>
    </div>
{% endblock %}


<script>
{% block jquery %}

    $("#follow-btn").click(function (e) {
       e.preventDefault()
        var this_ = $(this)
        var likeUrl = this_.attr("data-href")


        $.ajax({
            url: likeUrl,
            method: "GET",
            data:{},
            success: function(data) {
                console.log(data)
                if(data.followed){
                this_.find('button').text("takibi bırak")
                }else{
                     this_.find('button').text("takip et")
                }

            },error: function(error) {
                console.log(error)
                console.log("error")
            }
        })
    })

{% endblock %}
</script>