{% extends 'base.html' %}
{% block head %}
    <title>Profil - The Insider Sight</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile2.css' %}">


{% endblock %}
{% block content %}

           <div class="içindekiler">
            <div class="pbar">
                <img src="https://us.123rf.com/450wm/2nix/2nix1408/2nix140800099/30818272-anoniem-avatar-profiel-icoon-vector-.jpg?ver=6" alt="Profil Fotoğrafı" id="fotoğraf" >
                
               <div  class="bilgiler" >
            <p>{{user_profile.user.username}} <br> {{ user_profile.faculty }}</p>
            </div>
            <div class="thebar">
             <a style="color: white;" href="takip.html"><i style="color: white;">Takip Ettikleri: {{ user_profile.following.count }}</i></a>
             <br>
             <br>
             <a style="color: white;"href="takip.html"><i style="color: white;">Takipçileri:{{followers_count}}</i></a>
			{% if user_profile in own_user.following.all %}
                    <a  id="follow-btn" data-href="{{ user_profile.get_follow_api_url }}"  data-likes={{ user_profile.followers.count }}><button type="button" class="btn btn-info" >Takibi Bırak</button></a>

                    {% else %}
                   <a id="follow-btn" data-href="{{ user_profile.get_follow_api_url }}"  data-likes={{ user_profile.followers.count }}><button type="button" class="btn btn-info" >Takip Et</button></a>
                {% endif %}

            </div>
            </div>



                </div>
<div id="post-content">
        {% for post in post_list reversed %}


    {% if post.post_type == 'Post' %}
        {% include "classic-post.html" with post=post%}
    {% endif %}
           {% endfor %}
    </div>
{% endblock %}


<script>
{% block jquery %}

    $("#follow-btn").click(function (e) {
       e.preventDefault()
        var this_ = $(this)
        var likeUrl = this_.attr("data-href")


        $.ajax({
            url: likeUrl,
            method: "GET",
            data:{},
            success: function(data) {
                console.log(data)
                if(data.followed){
                this_.find('button').text("takibi bırak")
                }else{
                     this_.find('button').text("takip et")
                }

            },error: function(error) {
                console.log(error)
                console.log("error")
            }
        })
    })

{% endblock %}
</script>