<!DOCTYPE html>
<html>
<head>
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/registercss.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

    <div class="user">
    <header class="user__header">
        <img src="{% static 'media/logo.png' %}" alt="" id="logo"/>
        <h1 class="user__title">THE INSIDER SIGHT</h1>
    </header>




     <form method="POST" class="form">
{% csrf_token %}

        <div class="formgroup">
            <input type="text" placeholder="Kullanıcı Adı" class="form__input" name="username"/>
        </div>



        <div class="formgroup">
            <input type="password" placeholder="Şifre" class="form__input" name="password"/>
        </div>
         <button type="submit" class="btn">Giriş Yap</button>

    </form>
    <a style="color:black" href="register.html">Kayıtlı değil misin?</a>
</div>
</body>


</html>