{% extends 'base.html' %}
{% block head %}
<title>Soru sor - The Insider Sight</title>
{% endblock %}
{% block question %}
                             <li>
                                 <a href="{%  url 'questions' %}"  id="answer-question">
                                    <i class="fas fa-reply"></i>
                                    <span>Cevapla</span>
                                </a>
                            </li>

                            <li>
                                 <a href="{%  url 'send_question' %}"  id="ask-question">
                                    <i class="fas fa-question"></i>
                                    <span>Sor</span>
                                </a>
                            </li>
{% endblock %}
{% block content %}
            <div id="main-window">
                <div class="post">
                
                 <div class="content">
                      
                        <div class="post" >
                    <div class="user" >
                        <div class="user-img"></div>
                        <div class="user-info">
                            <div class="user-name">{{ request.user }}</div>
                        
                        </div>
                        <div class="place">
                        
                        </div>
                    </div>

                    <div class="yorum" >
                          <form method="POST">
                              {% csrf_token %}
                            {{ form.as_p }}

                            <input type="submit" name="submit" value="Paylaş" id="bid">
                        </form>

                    
                        
                    </div>
                    </div>
                   
                    
                </div>
                
        </div>
    </div>
{% endblock %}