{% extends 'base.html' %}
{% block head %}
<title>Profilim - The Insider Sight</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile3.css' %}">
{% endblock %}
{% block content %}


            <div id="profile">
       <table class="profile-container">
  <tbody>
    <tr>
      <td class="user">
          {% ifequal user_profile.gender 'E' %}
              <img src="{% static 'media/erkek.png' %}" alt="profil resmi">
          {% endifequal %}
      {% ifequal user_profile.gender 'K' %}
              <img src="{% static 'media/kadın.jpg' %}" alt="profil resmi">
          {% endifequal %}

      </td>
      <td colspan="4" class="user"><div>@{{ user_profile.user.username }}<br/>{{user_profile.faculty}}</div></td>
<td class="msg">

        <div class="msgArea">
          {% if user_profile in own_user.following.all %}
                    <a  id="follow-btn" data-href="{{ user_profile.get_follow_api_url }}"  data-likes={{ user_profile.followers.count }}><button type="button" class="btn btn-info" >Takibi Bırak</button></a>

                    {% else %}
                   <a id="follow-btn" data-href="{{ user_profile.get_follow_api_url }}"  data-likes={{ user_profile.followers.count }}><button type="button" class="btn btn-info" >Takip Et</button></a>
                {% endif %}
        </div>
      </td>
    </tr>

    <tr>
      <td colspan="2" class="social"><b>{{ post_count}}</b><br/>Posts</td>
      <td colspan="2"  class="social"><b>{{followers_count}}</b><br/>FOLLOWING</td>
      <td colspan="2"  class="social"><b>{{ user_profile.following.count }}</b><br/>FOLLOWERS</td>
    </tr>




  </tbody>
</table>
 </div>


<div id="post-content">
        {% for post in post_list  %}


    {% if post.post_type == 'Post' %}
        {% include "classic-post.html" with post=post%}
    {% endif %}
           {% endfor %}
    </div>
{% if post_list.has_next %}
               <div id="more-div">
   <button id="more-button" class="btn btn-warning"><a class="infinite-more-link " href="?page={{ post_list.next_page_number }}" style="color: #660000">Daha fazla..</a></button> </div>
  {% endif %}


{% endblock %}