{% extends 'base.html' %}
{% block head %}
<title>Profilim - The Insider Sight</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">

{% endblock %}
{% block content %}


        <div class="content-side">
          <div class="categories">
            <ul>
                <li><a href="#about">Postlarım</a></li>
            <li><a class="active" href="#home">Takip Ettiklerim</a></li>
            <li><a href="#news">Takipçiler</a></li>
            <li><a href="#about">Bilgilerim</a></li>

            </ul>

          </div>
           <div class="içindekiler">
            
                <img src="https://us.123rf.com/450wm/2nix/2nix1408/2nix140800099/30818272-anoniem-avatar-profiel-icoon-vector-.jpg?ver=6" alt="Profil Fotoğrafı" id="fotoğraf" >
                
               <div class="bilgiler">
            <p>Kullanıcı Adı: {{ user.username }}</p>
            <hr>
      <p>Email:{{ user.email }}</p>
      <hr>
      <p>Yaş:{{ age }}</p>
      <hr>

        <p>Bölüm: {{ profile.faculty }}</p>

</div>

        </div>
    </div>
{% endblock %}