<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/registercss.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

    <div class="user">
    <header class="user__header">
        <img src="{% static 'media/logo.png' %}" alt="" id="logo"/>
        <h1 class="user__title">THE INSIDER SIGHT</h1>
    </header>
    
    <form method="POST" class="form">
{% csrf_token %}

{% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
        <div class="formgroup">
            <input required type="text" placeholder="Kullanıcı adı" class="form__input" name="username" />
        </div>

        <div class="formgroup">
            <input required type="email" placeholder="E-mail" class="form__input" name="email"/>
        </div>

    <div class="formgroup">
            <input required type="password" placeholder="Şifre" class="form__input" name="password1" />
        </div>
        <div class="formgroup">
            <input required type="password" placeholder="Şifre Yeniden" class="form__input" name="password2"/>
        </div>

           <div class="formgroup">
            <input required type="date" placeholder="Doğum Tarihi" name="date"class="form__input" />
        </div>


         <div class="formgroup">

              <select required name="Bölüm">
    <option value="Mühendislik">Mühendislik</option>
    <option value="Mimarlık">Mimarlık</option>
    <option value="Fen-Edebiyat">Fen Edebiyat</option>
    <option value="İktisadi-İdari">İktisadi-İdari</option>
    <option value="Güzel Sanatlar">Güzel Sanatlar</option>
  </select>

        </div>
    <div class="formgroup">
        <select required name="gender" >
        <option value="K"  name="K">Kadın</option>
        <option value="E " name="E">Erkek</option>
            </select>
        </div>


<button type="submit" class="btn">Kayıt ol</button>

    </form>

    <a style="color:black" href="{% url 'login' %}">Zaten kullanıcı mısın?</a>
</div>
</body>


</html>