<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/registercss.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

    <div class="user">
    <header class="user__header">
        <img src="../website/static/media/logo.png" alt="" id="logo"/>
        <h1 class="user__title">THE INSIDER SIGHT</h1>
    </header>
    
    <form method="POST" class="form">
{% csrf_token %}
        <div class="formgroup">
            <input type="text" placeholder="Kullanıcı adı" class="form__input" name="username" />
        </div>

        <div class="formgroup">
            <input type="email" placeholder="E-mail" class="form__input" name="email" />
        </div>

           <div class="formgroup">
            <input type="date" placeholder="Doğum Tarihi" name="birth_date"class="form__input" />
        </div>


         <div class="formgroup">

              <select name="faculty">
    <option value="Mühendislik">Mühendislik</option>
    <option value="Mimarlık">Mimarlık</option>
    <option value="Fen-Edebiyat">Fen Edebiyat</option>
    <option value="İktisadi-İdari">İktisadi-İdari</option>
    <option value="Güzel Sanatlar">Güzel Sanatlar</option>
  </select>

             <select name="gender">
    <option value="E">Erkek</option>
    <option value="K">Kadın</option>
  </select>

        </div>

        <div class="formgroup">
            <input type="password" placeholder="Şifre" class="form__input" name="password1"/>
        </div>
        <div class="formgroup">
            <input type="password" placeholder="Şifre Yeniden" class="form__input" name="password2" />
        </div>

        <button type="submit" class="btn">Kayıt Ol</button>

    </form>
    <a style="color:black" href="login.html">Zaten kullanıcı mısın?</a>
</div>
</body>


</html>