<!DOCTYPE html>
<html>
<head>
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/registercss.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

    <div class="user">
    <header class="user__header">
        <img src="{% static 'media/logo.png' %}" alt="" id="logo"/>
        <h1 class="user__title">THE INSIDER SIGHT</h1>
    </header>
    
    <form method="POST">
        {% csrf_token %}
        {{ form.as_table }}
        {{ profile_form.as_p }}
        <button type="submit" class="btn">Kayıt Ol</button>

    </form>
    <a style="color:black" href="login.html">Zaten kullanıcı mısın?</a>
</div>
</body>


</html>