{% extends 'base.html' %}
{% block head %}
    <title>Sıralama - The Insider Sight</title>
    {% load static %}
    <script src="{% static 'js/sıralama.js' %}"></script>
    <script>
    function increment(count) {
        count++;
        return count;
    }
    </script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/sıralama.css' %}">


{% endblock %}
{% block content %}

        <div class="table">
            <div class="table-cell">
                <ul class="leader">
        {% for user in point_list reversed %}


                    <li>
                        <span class="list_num">{{ forloop.counter}}</span>
                        <img src="https://lh6.googleusercontent.com/-566ZpvrYxRo/AAAAAAAAAAI/AAAAAAAAAAA/kZk-O1q__A0/s128-c-k/photo.jpg"/>
                        <h2>{{user.user.username}}<span class="number">{{ user.point }}</span></h2>
                    </li>


                {% endfor %}


                </ul>
            </div>
        </div>

{% endblock %}