{% extends 'base.html' %}
{% block head %}
<title>Sorular - The Insider Sight</title>
{% endblock %}
{% block question %}
                             <li>
                                 <a href="{%  url 'questions' %}"  id="answer-question">
                                    <i class="fas fa-reply"></i>
                                    <span>Cevapla</span>
                                </a>
                            </li>

                            <li>
                                 <a href="{%  url 'send_question' %}"  id="ask-question">
                                    <i class="fas fa-question"></i>
                                    <span>Sor</span>
                                </a>
                            </li>
{% endblock %}
{% block content %}
            <div id="main-window">
                {% for post in post_list  %}
                {% include "classic-post.html" with post=post%}


                {% endfor %}
        </div>

{% endblock %}