{% extends 'base.html' %}
{% block head %}
<title>Profilim - The Insider Sight</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">

{% endblock %}
{% block content %}
                <div class="post">
                    <div class="user">
                        <div class="user-img"></div>
                        <div class="user-info">
                            <div class="user-name">Louis </div>

                            <i onclick="görüntüle();">Görüntüle</i>
                        </div>
                       
                    </div>
                    
                
        </div>
        <div class="post">
                    <div class="user">
                        <div class="user-img"></div>
                        <div class="user-info">
                            <div class="user-name">Samager </div>
                           <i onclick="görüntüle();">Görüntüle</i>
                        </div>
                       
                    </div>
                    
                
        </div>
        <div class="post">
                    <div class="user">
                        <div class="user-img"></div>
                        <div class="user-info">
                            <div class="user-name">..... </div>
                            <i onclick="görüntüle();">Görüntüle</i>
                        </div>
                       
                    </div>
                    
                
        </div>
        <div class="post">
                    <div class="user">
                        <div class="user-img"></div>
                        <div class="user-info">
                            <div class="user-name">..... </div>
                            <i onclick="görüntüle();">Görüntüle</i>
                        </div>
                       
                    </div>
                    
                
        </div>
        <div class="post">
                    <div class="user">
                        <div class="user-img"></div>
                        <div class="user-info">
                            <div class="user-name">.... </div>
                            <i onclick="görüntüle();">Görüntüle</i>
                        </div>
                       
                    </div>
                    
                
        </div>
        <div class="post">
                    <div class="user">
                        <div class="user-img"></div>
                        <div class="user-info">
                            <div class="user-name">....</div>
                          <i onclick="görüntüle();">Görüntüle</i>
                        </div>
                       
                    </div>
                    
                
        </div>
        <div class="post">
                    <div class="user">
                        <div class="user-img"></div>
                        <div class="user-info">
                            <div class="user-name">.... </div>
                            <i onclick="görüntüle();">Görüntüle</i>
                        </div>
                       
                    </div>
                    
                
        </div>
        <div class="post">
                    <div class="user">
                        <div class="user-img"></div>
                        <div class="user-info">
                            <div class="user-name">.... </div>
                            <i onclick="görüntüle();">Görüntüle</i>
                        </div>
                       
                    </div>
                    
                
        </div>
        <div class="post">
                    <div class="user">
                        <div class="user-img"></div>
                        <div class="user-info">
                            <div class="user-name">.... </div>
                            <i onclick="görüntüle();">Görüntüle</i>
                        </div>
                      
                    </div>
                    
                
        </div>
        <div class="post">
                    <div class="user">
                        <div class="user-img"></div>
                        <div class="user-info">
                            <div class="user-name">..... </div>
                           <i onclick="görüntüle();">Görüntüle</i>
                        </div>
                       
                    </div>
                    
                
        </div>
        <div class="post">
                    <div class="user">
                        <div class="user-img"></div>
                        <div class="user-info">
                            <div class="user-name">..... </div>
                           <i onclick="görüntüle();">Görüntüle</i>
                        </div>
                       
                    </div>
                    
                
        </div>
        <div class="post">
                    <div class="user">
                        <div class="user-img"></div>
                        <div class="user-info">
                            <div class="user-name">..... </div>
                          <i onclick="görüntüle();">Görüntüle</i>
                        </div>
                       
                    </div>
                    
                
        </div>

        <div class="post">
                    <div class="user">
                        <div class="user-img"></div>
                        <div class="user-info">
                            <div class="user-name">..... </div>
                            <i onclick="görüntüle();">Görüntüle</i>
                        </div>
                       
                    </div>
                    
                
        </div>
        <div class="post">
                    <div class="user">
                        <div class="user-img"></div>
                        <div class="user-info">
                            <div class="user-name">Louis </div>
                           <i onclick="görüntüle();">Görüntüle</i>
                        </div>
                       
                    </div>
                    
                
        </div>
        <div class="post">
                    <div class="user">
                        <div class="user-img"></div>
                        <div class="user-info">
                            <div class="user-name">Louis </div>
                            <i onclick="görüntüle();">Görüntüle</i>
                        </div>
                       
                    </div>
                    
                
        </div>
    </div>

{% endblock %}