{% extends 'base.html' %}
{% block head %}
    <title>The Insider Sight</title>

            <div id="main-window">
                <div class="post">
                    <div class="user">
                        <div class="user-img"></div>
                        <div class="user-info">
                            <div class="user-name">Louis Dickinson</div>
                            <span class="post-date">Yesterday at 11:49</span>
                        </div>
                       
                    </div>
                    <div class="content">
                        Accusamus! Ea, maiores! Tenetur, nesciunt?
                        <div class="post">
                    <div class="user" >
                        <div class="user-img"></div>
                        <div class="user-info">
                            <div class="user-name">Abraham</div>
                            <span class="post-date">Today at 11:49</span>
                        </div>
                        <div class="place">
                        
                        </div>
                    </div>

                    <div class="yorum" >
                          <form>
                            <textarea  name="message" rows="5" cols="50" style="color:#660000; font-weight: bold" >Cevabını buraya yaz..  </textarea> 
                            <br>

                            <input type="submit" name="submit" value="Paylaş" id="bid">
                        </form>

                    
                        
                    </div>
                    </div>
                   
                    
                </div>
                
        </div>
    </div>
{% endblock %}